{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <section class="site-section">
        <div class="container">
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="row mb-5 mt-5">
                        <div class="col-md-12">
                            <div class="post-entry-horzontal">
                                {% for post in posts %}

                                    <a href="/blog/{{ post.id }}">
                                        <div class="image element-animate" data-animate-effect="fadeIn"
                                             style="background-image: url({{ post.image.url }});"></div>
                                        <span class="text">
                            <div class="post-meta">
                           <span class="category">{{ post.category }}</span>
                            <span class="mr-2">{{ post.created_at }}</span> &bullet;
                            <span class="ml-2"><span class="fa fa-comments"></span> {{ post.num_comments }}</span>
                            </div>
                            <h2>{{ post.title }}</h2>
                            </span>
                                    </a>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                {% include 'layouts/sidebar.html' %}

            </div>
        </div>
    </section>
{% endblock %}
